@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: antiquewhite;
}

.header-component {
  font-family: 'Sen', sans-serif;
  /* margin-left: 20px; */
}

.header-item {
  margin-left: 10px;
}

#navbarBasicExample {
  background-color: rgb(209, 166, 110);
}

.title-container {
  display: flex;
  flex-direction: column;
  font-family: 'Sen', sans-serif;
  font-size: 30px;
}

.navbar {
  flex-direction: column;

}

@media screen and (max-width: 1024px) {
  .navbar-menu {
    align-items: stretch;
    display: flex;
    flex-direction: row;
  }
}